
#stacks_out_101_page73 {
	width: 640px;
}

#stacks_in_101_page73 {
	padding: 0px 10px 40px 10px;
}

#stacks_in_106_page73 {
	font-size: 98%;
}
#stacks_in_1140_page73_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_1140_page73 a:link, #stacks_in_1140_page73 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_1140_page73 a:hover, #stacks_in_1140_page73 a:active {
	color:#FFFFFF;
}










#stacks_in_1140_page73 a:link, #stacks_in_1140_page73 a:visited {
	background-color:#000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
	border:1px solid #000000;
	padding:3px 20px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_1140_page73 a:hover {
	background-color:#000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_1140_page73 a:active {
	background-color:#000000;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}
#stacks_in_601_page73_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_601_page73 a:link, #stacks_in_601_page73 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_601_page73 a:hover, #stacks_in_601_page73 a:active {
	color:#FFFFFF;
}







#stacks_in_601_page73 a:link, #stacks_in_601_page73 a:visited {
	background-color:#00A0FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#00A0FF), to(#0060BF));
	border:1px solid #0060BF;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_601_page73 a:hover {
	background-color:#00ACFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#00ACFF), to(#0053A5));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_601_page73 a:active {
	background-color:#00A0FF;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}



